/* reset */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}

/* generic */
@font-face {
    font-family: 'CodeBoldRegular';
    src: url('http://www.kalonsurf.com/themes/kalon/m/c/font/code_bold-webfont.eot');
    src: url('font/code_bold-webfont.eot') format('eot'),
         url('font/code_bold-webfont.woff') format('woff'),
         url('font/code_bold-webfont.ttf') format('truetype'),
         url('font/code_bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CodeLightRegular';
    src: url('http://www.kalonsurf.com/themes/kalon/m/c/font/code_light-webfont.eot');
    src: url('font/code_light-webfont.eot') format('eot'),
         url('font/code_light-webfont.woff') format('woff'),
         url('font/code_light-webfont.ttf') format('truetype'),
         url('font/code_light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body * { text-align:left; }
.button { display:inline-block;background-image:url(../i/button-bg.gif);border-radius: 10px;-moz-border-radius: 10px;padding:12px 20px;font-size:1.6em;line-height:1em;font-family:CodeBoldRegular; }
.button:hover { background:#ffffff url(../i/blue.jpg);color:#ffffff;text-decoration:none; }
a { color:#00b3db;text-decoration:none; }
a:hover { color:#00d0ff;text-decoration:underline; }
h1, h2, h3, h4, h5, h6 { font-family:CodeBoldRegular;text-transform:uppercase; }
h3 { font-size: 2em;line-height:1.1em; }
h3 span { display:block;color:#00b3da;font-size:0.7em; }
h4 { font-size: 1.5em; }
.right { float:right; }
img.right { padding:0 0 15px 15px; }
.container { padding:60px 0 0 0; }
div.infoboxwhite { background:transparent url(../i/blue.jpg);margin:0;padding:30px;color:#ffffff;border-radius:10px;-moz-border-radius:10px; }
div.infoboxx { background:transparent;margin:0;padding:30px;color:#ffffff;border-radius:10px;-moz-border-radius:10px; }
div.infobox { background:transparent url(../i/denim.jpg);margin:0;padding:30px;color:#ffffff;border-radius:10px;-moz-border-radius:10px; }
.ofh { overflow:hidden; }

img.too-cool-for-mug-shots { }
hr { background-color:transparent;border:none;border-top:1px dotted #40c6e3;margin:0;padding:0; }
.blue { color:#00b3da; }
.white { background:#ffffff url(../i/bg.png); }
.pink { color:#ff10a3; }
.blackbg { background:transparent url(../i/denim.jpg); }
.pinkbg { background:transparent url(../i/pink.jpg); }
	.pinkbg .blue { color:#ffffff;font-weight:bold; }
.bluebg { background:transparent url(../i/blue.jpg); }
	.bluebg .blue { color:#ffffff;font-weight:bold; }
	

	


		
		





/* styles */
body { background:none;padding:0;margin:0; }
#backkustom { width:100%;background:#2ab0ed; }
#wrapper { width:1070px;padding:0 30px;margin:0 auto;background:#fff; }
	#wrapper #head { overflow:hidden;background:#ffffff url(../i/bg.png); }
		#wrapper #head h1 { padding:11px 38px 38px 38px;background-color:#ffffff;float:left;margin:0 0 0 25px;z-index:10;position:relative; }
		#wrapper #head dl.contact { float:right;background-color:#ffffff;padding:18px 0 18px 28px;text-transform:uppercase;text-align:right;width:180px;margin-top:26px;font-family:CodeBoldRegular; }
			#wrapper #head dl.contact dt { display:inline; }
			#wrapper #head dl.contact dd { display:inline;margin:0 0 0 0.2em; }


		#wrapper #head #nav { clear:right;float:right;margin:0;width:960px;margin-top:-150px;z-index:1000;display:block;height:73px;background-color:#ffffff; }


			#wrapper #head #nav ul { float:left;margin:0;padding:0; }
				#wrapper #head #nav ul li { display:block;float:left;width:auto;padding:0 0 0 35px;line-height:73px;text-transform:uppercase; }
 
                    #wrapper #head #nav ul li.active a { color:#00d0ff; }
					
                    #wrapper #head #nav ul li a { color:#666666;font-family:CodeBoldRegular;font-size:1.3em;letter-spacing:0px; }
		    

                      #wrapper #head #nav ul li a:hover { color:#00d0ff;text-decoration:none; }
	
	
/*West Kustom */
#topnav {width:100%; height:165px;  padding-top:25px; background:#fff; }
#pikeylogo { margin-top:27px; float:left;}
 #nav {width: 100%; background-color:#fff;  float: left; margin: 0 0 3em 0; padding: 15px 0 15px 0; list-style-type: none; border-bottom:2px solid #FF00AA; }

#nav li {
	float: left; padding:0 21px 0 21px;}
#nav li a { font-size:13px; text-transform:uppercase; color:#7a9ccd; font-weight:800;}
#nav li a:hover { text-decoration:none; color:#ff1ab3; }
#nav li a.current { text-decoration:none; color:#FF00AA; }
#welcome {float:left; padding-top:10px; width:100% ; height:311px; background-image:url('/images/carousel.jpg');padding-bottom:10px; background-repeat:no-repeat; background-size:contain; border-bottom:3px solid #00FF00 ; }

.topwest {  float:left; padding:0; margin:0; width:100% ; height:auto;  }

.bestfont { font-size:23px; height:50px; font-weight:700; color:#fff;text-shadow:0 0 0 transparent, -1px 1px 2px #00b3da; text-transform:none; margin-left:17px; margin-top:15px; padding-top:5px;font-family: 'Nunito', sans-serif; text-transform:uppercase; }

.bestfont2 { font-size:21px; float:center; text-align:center;z-index:10; color:#fff;font-family: 'Nunito', sans-serif; font-weight:800;text-transform:none;text-shadow:0 0 0 transparent, -1px 1px 2px #000; margin-left:3px; margin-top:65px; text-transform:uppercase}

.bestfont3 { font-size:12px; float:right; z-index:10; color: #000;text-shadow:none; text-transform:none; margin-left:10px; margin-top:-75px;font-family: 'Nunito', sans-serif; font-weight:bold;}
.bestfont7 { font-size:12px; float:right; z-index:10; color:#000;text-shadow:none; font-family: 'Nunito', sans-serif;text-transform:none; font-family: 'Nunito', sans-serif; margin-left:10px; margin-top:-55px; font-weight:bold;}
.bestfont8 { font-size:12px; float:right; z-index:10; color:#000;text-shadow:none; text-transform:none; margin-left:10px; margin-top:-35px;font-family: 'Nunito', sans-serif; font-weight:bold;}
.bestfont4 { font-size:24px; font-family: 'Nunito', sans-serif; z-index:10; color:#FF00AA; text-transform:none; margin-left:10px; margin-top:10px;text-shadow:0 0 0 transparent, -1px 1px 2px #000;}

#part1 { display:inline-block;margin-top:-25px; float:right; margin-right:10px; margin-bottom:10px;width: 150px;
    height: 150px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FF0C4F),
	color-stop(1, #FF276F)
);
background-image: -o-linear-gradient(bottom, #FF0C4F 0%, #FF276F 100%);
background-image: -moz-linear-gradient(bottom, #FF0C4F 0%, #FF276F 100%);
background-image: -webkit-linear-gradient(bottom, #FF0C4F 0%, #FF276F 100%);
background-image: -ms-linear-gradient(bottom, #FF0C4F 0%, #FF276F 100%);
background-image: linear-gradient(to bottom, #FF0C4F 0%, #FF276F 100%);}

a.purplelinks { display: inline-block;  width: 150px;
    height: 150px; position:relative; text-decoration:none; -webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black;box-shadow: 0 8px 6px -6px black;moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;}
 a.purplelinks:hover {background:#ff4dc4;}


#part2 { margin-right:10px;display:inline-block;margin-top:-25px; margin-bottom:10px; float:right;width: 150px;
    height: 150px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; background:#FF00AA;}

a.bluelinks {  display: inline-block; width: 150px;
    height: 150px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;position:relative; text-decoration:none;	-webkit-box-shadow: 0 8px 6px -6px black; background:#00FF00;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;} 

a.bluelinks:hover {  background:#00FF00;}

#part3 { display:inline-block; margin-right:20px;margin-top:-25px; margin-bottom:10px; float:right; width: 150px;
    height: 150px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; background:#FF6600;}

a.orangelinks {  display:inline-block; width:150px; height:150px; position:relative; text-decoration:none;z-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; }






.footer1 {font-size:15px;}
#midcontent {width:100%; height:700px; padding-top:30px; float:left; }



#introp {padding-left:10px;}


a.orangelinks:hover { background:#FF6600;  }


#pikevim {margin-left:500px;}

